* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
del {
  text-decoration: line-through;
}
body {
  font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #160647;
  overflow-x: hidden;
  min-width: 320px;
  font-weight: 400;
}
input,
textarea,
select {
  font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

a {
  color: #160647;
}
a:hover,
.submit:hover {
  filter: alpha(opacity = 85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
}
.thumb {
  display: block;
}
.thumb img {
  display: block;
  width: 100%;
}
p {
  line-height: 1.6em;
  font-size: 16px;
  font-family: "Circular-Std-Regular", Arial;
  font-weight: 400;
}
.hidden {
  display: none;
}
br.clear {
  clear: both;
  line-height: 0;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1100px;
}
@font-face {
  font-family: "Circular-Std-Regular";
  src: url("../fonts/CircularStd-Regular.woff2") format("woff2");
  src: url("../fonts/CircularStd-Regular.woff") format("woff");
  font-style: normal;
}
@font-face {
  font-family: "Circular-Std-Bold";
  src: url("../fonts/CircularStd-Bold.woff2") format("woff2");
  src: url("../fonts/CircularStd-Bold.woff") format("woff");
  font-style: normal;
}
header {
  height: 100px;
  padding: 35px 0;
}
header section.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div.left {
}
header div.left h1 {
  width: 101px;
  color: #160647;
}
header div.left h1 a {
  display: block;
}
header div.left h1 a img {
  width: 100%;
  display: block;
}
header nav.middle {
}
header nav.middle ul {
  display: flex;
}
header nav.middle ul li {
  margin-right: 30px;
  color: #160647;
}
header nav.middle ul li:last-child {
  margin-right: 0;
}
header nav.middle ul li a:hover {
  text-decoration: underline;
}
header div.right {
}
header div.right ul {
  display: flex;
  align-items: center;
}
header div.right ul li {
  margin-right: 30px;
  color: #160647;
}
header div.right ul li:last-child {
  margin-right: 0;
}
header div.right ul li a {
  display: block;
}
header div.right ul li a.button {
  border: 1px solid #160647;
  padding: 12px 28px;
  border-radius: 8px;
  background-color: #160647;
  color: #fff;
  font-weight: 600;
}
#spotlight {
  text-align: center;
  margin-top: 80px;
  background-image: url(../images/strip.png);
  background-repeat: no-repeat;
  background-position: right 180px bottom 180px;
  background-size: 300px;
}
#spotlight h1 {
  font-size: 64px;
  font-weight: 700;
  width: 80%;
  margin: 0 auto;
  color: #160647;
  margin-bottom: 28px;
}
#spotlight p {
  font-size: 20px;
  color: #160647;
  margin-bottom: 80px;
}
#spotlight ul {
  display: flex;
  justify-content: center;
}
#spotlight ul li {
  margin-right: 30px;
  width: 500px;
}
#spotlight ul li:last-child {
  margin-right: 0;
}
#spotlight ul li img {
  width: 100%;
  display: block;
  margin-bottom: 30px;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 22px;
}
#spotlight ul li h3 {
  font-size: 36px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 16px;
}
#spotlight ul li p {
  text-align: left;
  font-size: 20px;
  margin-bottom: 28px;
}
